titulo{
    margin-top: 52px;
    background: #005cbf;
}

.container{
    margin: auto;
    
}

table{
    table-layout: fixed;
    background-color: white;
    width: 100%;
    border: solid 1px #6495ED;
    
}

.centrar{
    margin: auto;
}

#buscador{
    margin: auto;
}

#scroll {
    width:2000px;
    height:800px;
    background:url(../Images/contenido.jpg);
    overflow:auto;
}

thead{
    text-align: center;
    background-color: #6495ED;
    border-bottom: solid 1px #0000FF;
}

td , th {
    border: solid 1px #6495ED;
    padding: 5px;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
}
tr:hover td{
    background-color: #ddd;

}

