*{
    margin: 0;
    padding: 0;
}

titulo {
    margin-top: 52px;
    background: #005cbf;
}

.sidebar2 { 
    position: fixed;
    top: 0;
    right:0;
    left: 0;

}

label {
    font-weight:bold;
}
.container{
    margin: auto;
    
}


.centrar{
    margin: auto;
}

#buscador{
    margin: auto;
}

#scroll {
    width:2000px;
    height:1100px;
    background:url(../Images/contenido.jpg);
    overflow:auto;
}

.thead{
    
    color: white;
    background-color:#3c8dbc;
}



.tbody {
    background-color: white;

}

.tr > th{
    border: solid 1px white;
    padding: 5px; 
}

 .tr > td  {
    border: solid 1px #6495ED;
    padding: 5px;
}

.tbody > tr:hover td{
    background-color: #ddd;

}

.iconMenu{
    color: #6495ED;
}
.truncate {
    display: table;
    table-layout: fixed;
    width: 100%;
}

h1.truncated {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.descripcion{
    
    overflow:hidden; 
    text-overflow: ellipsis;
    white-space:nowrap; 
    
}



.alinearDer{

    text-align: right;
}

.contenido{
    background-image: url("../img/contenido-bg.png");
    background-color:#abcbec;
    background-blend-mode: soft-light;
    background-size: contain;
    height: 1500px;
}

#formLogin{
    height: 600px;
    width: 900px;
    background-color: white;
}


