titulo{
    margin-top: 52px;
    background: #005cbf;
}

label {
    font-weight:bold;
}
.container{
    margin: auto;
    
}

table{
    table-layout: fixed;
    background-color: white;
    width: 100%;
    border: solid 1px #6495ED;
    
}

.centrar{
    margin: auto;
}

#buscador{
    margin: auto;
}

#scroll {
    width:2000px;
    height:800px;
    background:url(../Images/contenido.jpg);
    overflow:auto;
}

thead{
    text-align: center;
    background-color: #6495ED;
    border-bottom: #0000FF;
}

tbody{
    background-color: white;
}
td , th {
    border: solid 1px #6495ED;
    padding: 5px;
}

.iconMenu{
    color: #6495ED;
}
.truncate {
    display: table;
    table-layout: fixed;
    width: 100%;
}

h1.truncated {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.descripcion{
    
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
}

tr:hover td{
    background-color: #ddd;

}

.alinearDer{

    text-align: right;
}

.contenido{
    background-image: url("../img/contenido-bg.png");
    background-color: rgb(200,200,200);
    background-blend-mode: soft-light;
    background-size: cover;
    height: 760px;
}



