/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    width: 100%;
    /* Set the fixed height of the footer here */
    background-color: #005cbf;
    font-size: 13px;
    height: 60px;
}
